<!DOCTYPE html>
<head>
    <title>Niklas Thran - Contact</title>
</head>

<body>
    <div class="frame">
        {% extends "base.html" %}

        {% block content %}
        <div class="header">
            <ul>
                <li>hello@niklasthran.com</li>
                <li><a href="https://www.github.com/niklasthran" target="_blank">Github</a>
                <li><a href="https://www.instagram.com/niklasthran" target="_blank">Instagram</a></li>
            </ul>
        </div>

        <div class="header">
            <ul class="list">
                <li>Typeface: <a href="https://rsms.me/inter/" target="_blank">Inter</a> (Rasmus Andersson), <a href="https://mikeabbink.com/typefaces/ibm-plex-mono/" target="_blank">IBM Plex Mono</a> (Mike Abbink)
                </li>
            </ul>
        </div>
        {% endblock %}
        
    </div>
</body>