<!DOCTYPE html>
<head>
    <title>Niklas Thran - Contact</title>
</head>

<body>
    <div class="frame">
        {% extends "base.html" %}

        {% block content %}
        <div class="header">
            <ul>
                <li>hello@niklasthran.com</li>
                <li><a href="https://www.rwnt.de/" target="_blank">www.rwnt.de</a>
                <li><a href="https://www.github.com/niklasthran" target="_blank">Github</a>
                <li><a href="https://www.instagram.com/niklasthran" target="_blank">Instagram</a></li>
            </ul>
        </div>
        {% endblock %}
        
    </div>
</body>