@import url('https://rsms.me/inter/inter.css');
body {
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
}

.grid-container {
  position: fixed;
  display: grid;
  grid-template-columns: 61.8vw 38.2vw;
  grid-template-rows: 61.8vh 38.2vh;
}

.grid-item {
  padding: 0px;
  text-align: left;
  font-size: 4vw;
  word-break: normal;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    position: fixed;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 5vh 5vh 5vh 5vh;
  }

  .grid-item {
    padding: 0px;
    text-align: left;
    font-size: 6vw;
    word-break: normal;
  }

  body {
    font-weight: normal;
  }
}
