<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Niklas Thran – Imprint</title>
    </head>

    <body>
        <ul class="col">
            <li class="row">
                <ul class="list">
                    <li>Niklas Thran</li>
                    <li><a href="{{ url_for('index') }}">Works</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li>Imprint</li>
                </ul>
            </li>
            <li class="line"></li>
        </ul>

        <ul class="col">
            <li class="row">
                <ul class="list">
                    <li>Information pursuant to Sect. 5 German Telemedia Act (TMG)</li>
                </ul>
            </li>

            <li class="row">
                <ul class="text">
                    <li>
                        This website is represented by the person named below, who is also the one responsible for editorial.<br>
                        <br>
                        Niklas Thran<br>
                        c/o RWNT<br>
                        Schönhauser Allee 163<br>
                        D-10435 Berlin<br>
                        <a href="mailto:hello@niklasthran.com">hello@niklasthran.com</a><br>
                        +49 30 22464276
                    </li>
                    <li>
                        EU dispute resolution<br>
                        The European Commission provides a platform for <a href="https://ec.europa.eu/consumers/odr" target="_blank">dispute resolution (ODR)</a>. My e-mail address can be found above and under this website's <a href="{{ url_for('contact') }}">Contact</a>.
                    </li>
                    <li>
                        Dispute resolution<br>
                        Dispute resolution proceedings in front of a consumer arbitration board: We are not willing or obliged to participate in dispute resolution proceedings in front of a consumer arbitration board.
                    </li>
                    <li>
                        Liability for Contents<br>
                        As service providers, I am liable for own contents of these websites according to Paragraph 7, Sect. 1 German Telemedia Act (TMG). However, according to Paragraphs 8 to 10 German Telemedia Act (TMG), service providers are not obligated to permanently monitor submitted or stored information or to search for evidences that indicate illegal activities. Legal obligations to removing information or to blocking the use of information remain unchallenged. In this case, liability is only possible at the time of knowledge about a specific violation of law. Illegal contents will be removed immediately at the time I get knowledge of them.
                    </li>
                    <li>
                        Liability for Links<br>
                        My offer includes links to external third-party websites. I have no influence on the contents of those websites, therefore I cannot guarantee for those contents. Providers or administrators of linked websites are always responsible for their own contents. The linked websites had been checked for possible violations of law at the time of the establishment of the link. Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents of linked websites cannot be imposed without reasonable indications that there has been a violation of law. Illegal links will be removed immediately at the time I get knowledge of them.
                    </li>
                    <li>
                        Copyright<br>
                        Contents and compilations published on these websites by the providers are subject to German copyright laws. Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law require a written permission of the author or originator. Downloads and copies of these websites are permitted for private use only. The commercial use of my contents without permission of the originator is prohibited. Copyright laws of third parties are respected as long as the contents on these websites do not originate from the provider. Contributions of third parties on this site are indicated as such. However, if you notice any violations of copyright law, please inform me. Such contents will be removed immediately.
                    </li>
                </ul>
            </li>
        </ul>
    </body>
</html>