<!DOCTYPE html>
<head>
    <title>Niklas Thran – Contact</title>
</head>

<body>
    <div class="frame">
    {% extends "base.html" %}

        {% block content %}
        <ul class="col">
            <li class="row">
                <ul class="list">
                    <li>hello@niklasthran.com</li>
                    <li>&#xBD of <a href="https://rwnt.de/" target="_blank">RWNT</a></li>
                    <li><a href="https://www.github.com/niklasthran" target="_blank">Github</a></li>
                    <li><a href="https://www.instagram.com/niklasthran" target="_blank">Instagram</a></li>
                </ul>
            </li>
        </ul>
        {% endblock %}
        
    </div>
</body>