<!DOCTYPE html>
<head>
    {% if key_data["title"]["de"] == "" %}
    <title>Niklas Thran – {{ key_data["title"]["en"] }}</title>
    {% elif key_data["title"]["en"] == "" %}
    <title>Niklas Thran – {{ key_data["title"]["de"] }}</title>
    {% else %}
    <title>Niklas Thran – {{ key_data["title"]["en"] }}</title>
    {% endif %}
</head>

<body>
    <div class="frame">
        {% extends "base.html" %}

        {% block content %}
        <ul class="col">

            <li class="row">
                <ul class="list">
                    {% if key_data["title"]["de"] == "" or key_data["title"]["en"] == "" %}
                    <li>{{ key_data["title"]["de"] }}{{ key_data["title"]["en"] }}</li>
                    {% else %}
                    <li>{{ key_data["title"]["de"] }}</li>
                    <li class="translate">{{ key_data["title"]["en"] }}</li>
                    {% endif %}

                    <li>{{ key_data["date"] }}</li>
                </ul>
            </li>

            <li class="row">
                <ul class="gallery">
                    {% for element in key_data["videos"] %}
                    <li>
                        <video autoplay playsinline muted loop>
                            <source src="{{ element }}" type="video/mp4">
                        </video>
                    </li>
                    {% endfor %}
                    
                    {% for element in key_data["images"] %}
                    <li><img src="{{ element }}"></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="row">
                <ul class="list">
                    <li>{{ key_data["metadata"]["de"] }}</li>
                    <li class="translate">{{ key_data["metadata"]["en"] }}</li>
                </ul>
            </li>

            <li class="row">
                <ul class="text">
                    <input type="checkbox" hidden class="read-more-state" id="read-more">

                    <li>{{ key_data["description"]["abstract"]["de"] | safe }}</li>

                    {% if key_data["description"]["text"] %}
                    <span class="read-more-wrap">
                        <li class="read-more-target">{{ key_data["description"]["text"]["de"] | safe }}</li>
                    </span>
                    {% endif %}

                    <li class="text-break"></li>
                    
                    <li class="translate">{{ key_data["description"]["abstract"]["en"] | safe }}</li>
                    
                    {% if key_data["description"]["text"] %}
                    <span class="read-more-wrap">
                        <li class="read-more-target translate">
                            {{ key_data["description"]["text"]["en"] | safe }}
                        </li>
                    </span>

                    <li class="read-more-trigger_closed read-more-button">
                        <label for="read-more" class="read-more-button">... mehr <span class="translate">more</span></label>
                    </li>
                    <li class="read-more-trigger_opened read-more-button">
                        <label for="read-more" class="read-more-button">... weniger <span class="translate">less</span></label>
                    </li>
                    {% endif %}
                </ul>
            </li>

            {% if key_data["credits"] %}
            <li class="row">
                <ul class="list">
                    {% for key in key_data["credits"].keys() %}
                    <li>
                        {{ key_data["credits"][key]["de"] }}<span class="translate">{{ key_data["credits"][key]["en"] }}</span>:{{ key }}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}

            {% if key_data["links"] %}
            <li class="row">
                <ul class="list">
                    {% for element in key_data["links"] %}
                    <li><a href="{{ element }}" target="_blank">{{ element }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}

            {% if key_data["publishings"] %}
            <li class="row">
                <ul class="list">
                    {% for element in key_data["publishings"] %}
                    <li>{{ element  }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            
        </ul>
        
        {% endblock %}
    </div>
</body>