<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>Niklas Thran – Works</title>
    </head>

    <body>
        <ul class="col">
            <li class="row">
                <ul class="list">
                    <li>Niklas Thran</li>
                    <li>Works</li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('imprint') }}">Imprint</a></li>
                </ul>
            </li>
            <li class="line"></li>
        </ul>

        <ul class="col">
            {% for key in all_projects %}
            <li class="row">
                <ul class="list name">
                    {% if all_projects[key]["title"]["de"] == "" %}
                    <li><a href="{{ url_for('project', key=key) }}">{{ all_projects[key]["title"]["en"] }}</a></li>
                    {% elif all_projects[key]["title"]["en"] == "" %}
                    <li><a href="{{ url_for('project', key=key) }}">{{ all_projects[key]["title"]["de"] }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('project', key=key) }}">{{ all_projects[key]["title"]["de"] }}</a></li>
                    <li lang="en-EN"><a href="{{ url_for('project', key=key) }}">{{ all_projects[key]["title"]["en"] }}</a></li>
                    {% endif %}
                </ul>

                <ul class="list date">
                    <li>{{ all_projects[key]["date"] }}</li>
                </ul>

                <ul class="list thumbnails">
                    {% set count = namespace(value=0) %}

                    {% for element in all_projects[key]["videos"] %}
                    {% if count.value < 4 %}
                    <li>
                        <a href="{{ url_for('project', key=key) }}">
                            <video autoplay playsinline muted loop>
                                <source src="{{ element }}" type="video/mp4">
                            </video>
                        </a>
                    </li>
                    {% set count.value = count.value + 1 %}
                    {% endif %}    
                    {% endfor %}

                    {% for element in all_projects[key]["images"] %}
                    {% if count.value < 4 %}
                    <li>
                        <a href="{{ url_for('project', key=key) }}">
                            <img src="{{ element }}">
                        </a>
                    </li>
                    {% set count.value = count.value + 1 %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <!--<li class="line"></li>-->
            {% endfor %}

            <li class="row">
                <ul class="list name">
                    <li><a href="{{ url_for('photo_archive') }}">Fotografiearchiv</a></li>
                    <li lang="en-EN"><a href="{{ url_for('photo_archive') }}">Photography Archive</a></li>
                </ul>

                <ul class="list date">
                    <li>ongoing</li>
                </ul>

                <ul class="list thumbnails">
                    {% set count = namespace(value=0) %}
                    {% for photo in photo_data %}
                    {% if count.value < 4 %}
                    <li><a href="{{ url_for('photo_archive') }}"><img src="{{ photo }}"></a></li>
                    {% set count.value = count.value + 1 %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>        
    </body>
</html>