@font-face {
    font-family: Inter;
    src: url("/static/font/Inter-Regular.woff");
}

@font-face {
    font-family: Inter;
    src: url("/static/font/Inter-Italic.woff");
    font-style: italic;
}

@font-face {
    font-family: IBM Plex Mono;
    src: url("/static/font/IBMPlexMono-Regular.ttf");
}

:root {
    --font-col: #000000;
    --translate-col: #7F7F7F;
    --bg-col: #F2F3F4;
}

html {
    background-color: var(--bg-col);
}

body {
    overflow-y: scroll;
}

a:link,
a:active,
a:focus,
a:hover,
a:visited {
    color: var(--font-col);
}

.frame {
    margin: 4em auto 4em auto;
    width: calc(100vw - 16em);
    font-family: Inter;
    font-size: 14px;
    color: var(--font-col);
}

.header ul {
    padding: 0;
    margin: 0 0 1em 0;
    list-style: none;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    column-span: all;
}

.col {
    margin: 0 0 1em 0;
    padding: 0;
    width: 100%;
    column-count: 2;
    column-gap: 2em;
    text-align: left;
}

.markdown-body div {
    width: 100%;
    min-height: calc(8 * 1.2em);
    display: block;
}

.markdown-body p {
    padding: 0;
    margin: 0;
    break-inside: avoid-column;
}

.markdown-body code {
    font-family: IBM Plex Mono;
}

.markdown-body img,
.markdown-body video {
    margin: 1.2em 0 1.2em 0;
    width: 100%;
    height: auto;
}

.gallery img,
.gallery video {
    margin: 0;
    padding: 0 0 1.2em 0;
    width: 100%;
    position: relative;
    display: block;
}

.translate,
.translate a {
    color: var(--translate-col) !important;
    font-style: italic;
}

.name {
    flex: 3;
    order: 1;
    width: 0;
}

.name li {
    width: calc(100% - 1em);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.date {
    flex: 1;
    order: 2;
}

.thumbgallery {
    flex: 5;
    order: 3;
}

.thumbgallery a {
    text-decoration: none;
}

.thumbgallery img,
.thumbgallery video {
    width: 10em;
    height: 4em;
    padding: 0;
    margin: 0 0 0.15em 0.15em;
    object-fit: cover;
}

.list {
    width: calc(50% - 1em);
}

.line {
    margin: 0 0 1em 0;
    border-bottom: 1px solid var(--font-col);
}

@media (min-width: 1500px) {
    .frame {
        width: calc(100vw - 100em);
    }
}

@media (max-width: 1000px) {
    .frame {
        width: calc(100vw - 8em);
    }
}

@media (max-width: 700px) {
    .col {
        column-count: 1;
    }

    .row {
        margin: 0 0 0.5em 0;
    }

    .row .date {
        text-align: right;
    }

    .markdown-body p {
       margin: 0 0 1.2em 0;
    }

    .name li {
        white-space: normal;
    }

    .thumbgallery {
        display: none;
    }

    .list {
        width: 100%;
    }
}

@media only screen and (max-device-width: 480px) {
    html {
        -webkit-text-size-adjust: 100%;
    }

    .frame {
        margin: 1em auto 3em auto;
        width: calc(100vw - 2em);
    }

    .thumbgallery img,
    .thumbgallery video {
        width: 8em;
    }
}