:root {
    --font-col: #000000;
    --translate-col: #7F7F7F;
    --bg-col: #F2F3F4;
    --v-space: 0.75em;
}

html {
    background-color: var(--bg-col);
}

body {
    overflow-y: scroll;
}

a:link,
a:active,
a:focus,
a:hover,
a:visited {
    color: var(--font-col);
    overflow-wrap: break-word;
    text-decoration-thickness: 1px;
}

.frame {
    margin: 4em auto 4em auto;
    width: 80em;
    font-family: Helvetica;
    font-size: 14px;
    color: var(--font-col);
}

.row {
    margin: 0 0 var(--v-space) 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.line {
    list-style: none;
    border-bottom: 1px solid var(--font-col);
    margin: 0 0 var(--v-space) 0;
    width: 100%;
}

.name {
    flex: 3;
    order: 1;
    width: 0;
}

.name ul {
    padding: 0;
    margin: 0;
}

.name li {
    width: calc(100% - 1em);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: text-top;
    list-style: none;
}

.date {
    flex: 1;
    order: 2;
}

.thumbgallery {
    flex: 5;
    order: 3;
}

.thumbgallery a {
    text-decoration: none;
}

.thumbgallery img,
.thumbgallery video {
    width: calc((100% / 4) - var(--v-space));
    height: 3.5em;
    padding: 0;
    margin: 0 0 0 var(--v-space);
    float: left;
    vertical-align: text-top;
    object-fit: cover;
}

.text,
.gallery {
    column-count: 2;
    column-gap: var(--v-space);
    list-style: none;
    padding: 0;
}

.photogallery {
    column-count: 4;
    column-gap: var(--v-space);
    list-style: none;
    padding: 0;
}

.gallery img,
.gallery video,
.photogallery img {
    width: 100%;
    display: block;
}

.gallery li + li,
.photogallery li + li {
    margin: var(--v-space) 0 0 0;
}

.list {
    list-style: none;
    width: calc(50% - 1em);
    padding: 0;
}

.text li {
    break-inside: avoid-column;
}

.read-more-button {
    margin: var(--v-space) 0 0 0;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
}

.read-more-target,
.read-more-trigger_opened,
.read-more-state:checked ~ .read-more-trigger_closed {
    display: none;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target,
.read-more-state:checked ~ .read-more-trigger_opened {
    display: block;
}

.translate,
.translate a {
    color: var(--translate-col) !important;
    font-style: italic;
}

.text-break {
    display: none;
}

@media (max-width: 1250px) {
    .frame {
        width: calc(100vw - 10em);
    }
}

@media (max-width: 900px) {
    .photogallery {
        column-count: 2;
    }
}

@media (max-width: 700px) {
    .col {
        column-count: 1;
    }

    .row .date {
        text-align: right;
    }

    .thumbgallery {
        display: none;
    }

    .text,
    .gallery,
    .photogallery {
        column-count: 1;
    }

    .list {
        width: 100%;
    }

    .text-break {
        display: block;
        list-style: none;
        margin: 0 0 var(--v-space) 0;
        width: 100%;
    }
}

@media only screen and (max-device-width: 480px) {
    html {
        -webkit-text-size-adjust: 100%;
    }

    .frame {
        margin: var(--v-space) auto 3em auto;
        width: calc(100vw - 2em);
    }

    .thumbgallery img,
    .thumbgallery video {
        height: 2.5em;
    }
}

@media (max-width: 270px) {
    .frame {
        display: none;
    }
}