<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}">

        {% if project_data["title"]["de"] == "" %}
        <title>Niklas Thran — {{ project_data["title"]["en"] }}</title>
        {% elif project_data["title"]["en"] == "" %}
        <title>Niklas Thran — {{ project_data["title"]["de"] }}</title>
        {% else %}
        <title>Niklas Thran — {{ project_data["title"]["en"] }}</title>
        {% endif %}
    </head>

    <body>
        <ul class="col temp">
            <li class="row">
                <ul class="list header">
                    <li>Niklas Thran —&nbsp;</li>
                    <li><a href="{{ url_for('index') }}">Index,</a>&nbsp;</li>
                    <li><a href="{{ url_for('contact') }}">Contact,</a>&nbsp;</li>
                    <li><a href="{{ url_for('imprint') }}">Imprint</a></li>
                </ul>
            </li>
        </ul>

        <ul class="col">
            <li class="row">
                <ul class="list">
                    <!-- title -->
                    {% if project_data["title"]["de"] == "" or project_data["title"]["en"] == "" %}
                    <li>{{ project_data["title"]["de"] }}{{ project_data["title"]["en"] }}</li>
                    {% else %}
                    <li>{{ project_data["title"]["de"] }}</li>
                    <li lang="en-EN">{{ project_data["title"]["en"] }}</li>
                    {% endif %}

                    <!-- year -->
                    <li>{{ project_data["date"]["year"] }}</li>
                </ul>
            </li>

            <li class="row">
                <!-- video / images -->
                <ul class="list gallery">
                    {% for element in project_data["videos"] %}
                    <li>
                        <video autoplay playsinline muted loop>
                            <source src="{{ element }}" type="video/mp4">
                        </video>
                    </li>
                    {% endfor %}

                    {% for element in project_data["images"] %}
                    <li>
                        <img src="{{ element }}">
                    </li>
                    {% endfor %}
                </ul>

                <ul class="list text">
                    <!-- meta -->
                    <ul class="sublist">
                        <li>{{ project_data["meta"]["de"] }}</li>
                        <li lang="en-EN">{{ project_data["meta"]["en"] }}</li>
                    </ul>
                    
                    <!-- desc -->
                    {% if project_data["desc"]["de"] %}
                    <li>{{ project_data["desc"]["de"] | safe }}</li>
                    {% endif %}

                    {% if project_data["desc"]["en"] %}
                    <li lang="en-EN">{{ project_data["desc"]["en"] | safe }}</li>
                    {% endif %}

                    <!-- credits -->
                    {% if project_data["credits"] %}
                    <ul class="sublist">
                        {% for key in project_data["credits"].keys() %}
                        <li>
                            {{ project_data["credits"][key]["de"] }}&nbsp;<span lang="en-EN">{{ project_data["credits"][key]["en"] }}:</span>&nbsp;{{ key }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <!-- ref -->
                    {% if project_data["desc"]["ref"] %}
                    <ul class="sublist">
                        {% for element in project_data["desc"]["ref"] %}
                        <li>
                            {{ element | safe }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </ul>
            </li>

        </ul>
    </body>
</html>