:root {
    --font-col: #000000;
    --translate-col: #7F7F7F;
    --bg-col: #F2F3F4;
}

html {
    background-color: var(--bg-col);
}

body {
    overflow-y: scroll;
}

a:link,
a:active,
a:focus,
a:hover,
a:visited {
    color: var(--font-col);
    overflow-wrap: break-word;
}

.frame {
    margin: 4em auto 4em auto;
    width: 80em;
    font-family: Helvetica;
    font-size: 14px;
    color: var(--font-col);
}

.header ul {
    padding: 0;
    margin: 0 0 1em 0;
    list-style: none;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    column-span: all;
}

.col {
    margin: 0 0 1em 0;
    padding: 0;
    width: 100%;
    column-count: 2;
    column-gap: 2em;
    text-align: left;
}

.col li {
    list-style: none;
    break-inside: avoid-column;
}

.gallery img,
.gallery video {
    margin: 0;
    padding: 0 0 1.2em 0;
    width: 100%;
    position: relative;
    display: block;
}

.translate,
.translate a {
    color: var(--translate-col) !important;
    font-style: italic;
}

.name {
    flex: 3;
    order: 1;
    width: 0;
}

.name li {
    width: calc(100% - 1em);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.date {
    flex: 1;
    order: 2;
}

.thumbgallery {
    flex: 5;
    order: 3;
}

.thumbgallery a {
    text-decoration: none;
}

.thumbgallery img,
.thumbgallery video {
    width: calc((100% / 4) - 0.37em);
    height: 3em;
    padding: 0;
    margin: 0 0 0.15em 0.15em;
    object-fit: cover;
}

.list {
    width: calc(50% - 1em);
}

.line {
    margin: 0 0 1em 0;
    border-bottom: 1px solid var(--font-col);
}

.read-more-button {
    text-decoration: underline;
    cursor: pointer;
}

.read-more-target,
.read-more-trigger_opened {
    display: none;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target,
.read-more-state:checked ~ .read-more-trigger_opened {
    display: block;
}
.read-more-state:checked ~ .read-more-trigger_closed {
    display: none;
}

.visible-switch {
    display: none;
}

@media (max-width: 1250px) {
    .frame {
        width: calc(100vw - 10em);
    }
}

@media (max-width: 700px) {
    .col {
        column-count: 1;
    }

    .row {
        margin: 0 0 0.5em 0;
    }

    .row .date {
        text-align: right;
    }

    .name li {
        white-space: normal;
    }

    .thumbgallery {
        display: none;
    }

    .list {
        width: 100%;
    }

    .visible-switch {
        display: block;
    }
}

@media only screen and (max-device-width: 480px) {
    html {
        -webkit-text-size-adjust: 100%;
    }

    .frame {
        margin: 1em auto 3em auto;
        width: calc(100vw - 2em);
    }

    .thumbgallery img,
    .thumbgallery video {
        height: 3.2em;
    }
}

@media (max-width: 270px) {
    .frame {
        display: none;
    }
}