<IfModule mod_rewrite.c>
	
	RewriteEngine on
	
	RewriteBase /picdrop/

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?r=$1&%{QUERY_STRING} [L]
	
</IfModule>